body {
    background: rgba(7, 54, 124, 0.685);
}
.container {
    text-align: center;
    margin-top: 100px;
    background: rgb(53, 9, 23);
    color: rgba(255, 255, 255, 0.925);
    border-radius: 6%;
    padding: 20px;
}

#answerA:hover, #answerB:hover, #answerC:hover, #answerD:hover {
    background-color: rgb(194, 187, 99);
    transition: background-color .5s;
    display: inline-block;
    cursor: pointer;
}